body{
 font-family: Arial;
 text-align:center;
 background:linear-gradient(to right,#74ebd5,#9face6);
 padding:40px;
}

input{
 padding:10px;
 font-size:16px;
}

button{
 padding:10px 15px;
 margin-left:10px;
 cursor:pointer;
}

#weather{
 background:white;
 padding:20px;
 border-radius:10px;
 width:300px;
 margin:auto;
 margin-top:20px;
 box-shadow:0 5px 10px rgba(0,0,0,0.2);
}